#container{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border-style: solid;
  border-color: black;
}

.square{
  display: flex;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: white;
}

.blackSquare{
  background-color: black;
}

#gridSelector{
  margin: 20px;
}