#container{
  display: flex;
  width: 500px;
  height: 500px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}

.square{
  display: flex;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  color: white;
}